<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фото блог</title>
</head>
<body>

{{range .}}
<img src={{.}} alt=""> 
{{end}}
<form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="ufile" id="ufile">
    <input type="submit">
</form>
<br>

</body>
</html>